{% extends "base.html" %}

{% block content %}
<div class="py-5">
    <h1 class="text-center">Создание нового варианта</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class="form-control") }}<br>
            {% for error in form.time.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <div class="tasks-input"><div><p>
            {{ form.task.label }}<br>
            {{ form.task(class="form-control") }}<br>
            {% for error in form.task.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p></div>
        </div>
        <div style="display: flex; gap: 20px;">
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <a style="color:red;" onclick="return deleteField(this)" href="#">—</a>
            <a style="color:green;" onclick="return addField()" href="#">+</a>
            {{message}}
        </div>
    </form>
    <script>
        var countOfFields = 1; // Текущее число полей
        var maxFieldLimit = 25; // Максимальное число возможных полей
        function deleteField(a) {
            if (countOfFields > 1) {
                var contDiv = document.querySelector("form > div.tasks-input");
                contDiv.removeChild(contDiv.lastChild);
                countOfFields--;
                }
            return false;
            }
        function addField() {
            countOfFields++;
            var div = document.createElement("div");
            div.innerHTML = '<p>{{ form.task.label }}<br>{{ form.task(class="form-control") }}<br>{% for error in form.task.errors %}<p content="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}</p>';
            console.log(document.querySelector("form > div.tasks-input"))
            document.querySelector("form > div.tasks-input").appendChild(div);
            return false;
            }
    </script>
</div>
{% endblock %}