{% extends "base.html" %}

{% block content %}
<div class="py-5">
    <h1 style="margin-top: 20px;">Создание нового задания</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.number.label }}<br>
            {{ form.number(class="form-control") }}<br>
            {% for error in form.number.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.task.label }}<br>
            {{ form.task(class="form-control") }}<br>
            {% for error in form.task.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.answer.label }}<br>
            {{ form.answer(class="form-control") }}<br>
            {% for error in form.answer.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.files.label }}<br>
            {{ form.files }}<br>
            {% for error in form.files.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.img.label }}<br>
            {{ form.img }}<br>
            {% for error in form.img.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}