<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/case.js') }}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/case.css')}}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <!--        Timer-->
        <!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"-->
        <!--                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--            <span class="navbar-toggler-icon"></span>-->
        <!--        </button>-->

        <div class="time-wrap" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="time">
                        <span class="hours">00</span>:<span class="minutes">00</span>
                    </span>
                </li>
                <li class="nav-item">
                    <span>КИМ № {{ kim_number }}</span>
                </li>
                <li class="nav-item">
                    <span>БР № {{ br_number }}</span>
                </li>
            </ul>
        </div>
        <div>
            <a class="btn btn-light " href="#">Завершить экзамен досрочно?</a>
        </div>
    </div>
</nav>

<main class="container">
    <div class="row gutters-sm">
        <div class="col-auto">
            <div class="d-flex flex-column align-items-center flex-shrink-0 text-secondary"
                 style="width: 110px;">
                <h6>Дано ответов</h6>
                <h3 style="color:#343a40;">0/27</h3>
                <div class="list-group list-group-flush"
                     style="overflow-y: scroll; overflow-x: hidden; max-height: 85vh;">
                    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center indicators">
                        <li class="nav-item active">
                            <button data-bs-target="#carouselDark" data-bs-slide-to="0"
                                    class="nav-link border bg-white text-secondary active"
                                    aria-current="true">i
                            </button>
                        </li>
                        {% for i in range(1, 28) %}
                        <li class="nav-item">
                            <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="{{ i }}"
                                    class="nav-link border bg-white text-secondary"
                                    aria-current="true">{{ i }}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-auto max-height align-items-center" style="position: relative;">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark"
                    data-bs-slide="prev" style="width: 100%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        </div>
        <div class="task col max-height align-items-center">
            <div id="carouselDark" class="carousel carousel-dark" data-bs-ride="carousel"
                data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">В заданиях используются следующие соглашения.</h5>
                                <span>Обозначения для логических связок (операций):</span>
                                <ul>
                                    <li>отрицание (инверсия, логическое НЕ) обозначается ¬ (например, ¬А);</li>
                                    <li>конъюнкция (логическое умножение, логическое И) обозначается ∧ (например, А ∧ В)
                                        либо & (например, А & В);
                                    </li>
                                    <li>дизъюнкция (логическое сложение, логическое ИЛИ) обозначается ∨ (например, А ∨
                                        В) либо | (например, А | В);
                                    </li>
                                    <li>следование (импликация) обозначается → (например, А → В);</li>
                                    <li>тождество обозначается ≡ (например, A ≡ B); выражение A ≡ B истинно тогда и
                                        только тогда, когда значения A и B совпадают (либо они оба истинны, либо они оба
                                        ложны);
                                    </li>
                                    <li>символ 1 используется для обозначения истины (истинного высказывания); символ 0
                                        – для обозначения лжи (ложного высказывания).
                                    </li>
                                </ul>
                                <p>Два логических выражения, содержащие переменные, называются равносильными
                                    (эквивалентными), если значения этих выражений совпадают при любых значениях
                                    переменных. Так, выражения А → В и (¬А) ∨ В равносильны, а А ∨ В и А ∧ В
                                    неравносильны (значения выражений разные, например, при А = 1, В = 0).</p>
                                <p>Приоритеты логических операций: инверсия (отрицание), конъюнкция (логическое
                                    умножение), дизъюнкция (логическое сложение), импликация (следование), тождество.
                                    Таким образом, ¬А ∧ В ∨ С ∧ D означает то же, что и ((¬А) ∧ В) ∨ (С ∧ D). Возможна
                                    запись А ∧ В ∧ С вместо (А ∧ В) ∧ С. То же относится и к дизъюнкции: возможна запись
                                    А ∨ В ∨ С вместо (А ∨ В) ∨ С.</p>
                                <p>Обозначения Мбайт и Кбайт используются в традиционном для информатики смысле – как
                                    обозначения единиц измерения, соотношение которых с единицей «байт» выражается
                                    степенью двойки.</p>
                            </div>
                        </div>
                    </div>
                    {% for i in range(1, 28) %}
                    <div class="carousel-item">
                        <div class="card">
                            <img class="card-img-top" src="https://dummyimage.com/286x180/ccc/fff" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><b>Задание {{ i }}</b></h5>
                                <p class="card-text">TODO!!!</p>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="attach-files me-auto">
                                <span class="app">files</span>
                            </div>
                            <form class="d-flex">
                                <input class="answer me-2" type="text" aria-label="save-answer" id="{{ i }}">
                                <button class="btn btn-outline-dark answer" type="submit" id="submit" onclick="save_answer({{i}});">Сохранить ответ</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-auto max-height align-items-center">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselDark"
                    data-bs-slide="next" style="width: 100%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).on('click', 'ul.indicators li', function(){
        $(this).addClass('active').siblings().removeClass('active')
    })
</script>
</body>
</html>