<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/functions.js') }}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/case.css')}}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <script>
        localStorage.setItem("test_session", test_session);
    </script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <div class="time-wrap" id="navbarsDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="time">
                        <script>contador({{ time }});</script>
                        <span class="hours">00</span>:<span class="minutes">00</span>
                    </span>
                </li>
                <li class="nav-item">
                    <span>КИМ № {{ kim_number }}</span>
                </li>
            </ul>
        </div>
        <div>
            <a class="btn btn-light" id="finishExam" href="../result/?sess={{code}}" onclick="return showAlert();">Завершить экзамен досрочно?</a>
        </div>
    </div>
</nav>

<main class="container">
    <div class="row gutters-sm">
        <div class="col-auto">
            <div class="d-flex flex-column align-items-center flex-shrink-0 text-secondary"
                 style="width: 110px;">
                <h6>Дано ответов</h6>
                <h3 style="color:#343a40;">0/{{count}}</h3>
                <div class="list-group list-group-flush"
                     style="overflow-y: scroll; overflow-x: hidden; max-height: 85vh;">
                    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center indicators">
                        <li class="nav-item active">
                            <button data-bs-target="#carouselDark" data-bs-slide-to="0"
                                    class="nav-link border bg-white text-secondary active"
                                    aria-current="true">i
                            </button>
                        </li>
                        {% for i in range(1, count + 1) %}
                        <li class="nav-item">
                            <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="{{ i }}"
                                    class="nav-link border bg-white text-secondary"
                                    aria-current="true">{{ i }}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-auto max-height align-items-center" style="position: relative;">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark"
                    data-bs-slide="prev" style="width: 100%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        </div>
        <div class="task col max-height align-items-center">
            <div id="carouselDark" class="carousel carousel-dark" data-bs-ride="carousel"
                 data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">В заданиях используются следующие соглашения.</h5>
                                <span>Обозначения для логических связок (операций):</span>
                                <ul>
                                    <li>отрицание (инверсия, логическое НЕ) обозначается ¬ (например, ¬А);</li>
                                    <li>конъюнкция (логическое умножение, логическое И) обозначается ∧ (например, А ∧ В)
                                        либо & (например, А & В);
                                    </li>
                                    <li>дизъюнкция (логическое сложение, логическое ИЛИ) обозначается ∨ (например, А ∨
                                        В) либо | (например, А | В);
                                    </li>
                                    <li>следование (импликация) обозначается → (например, А → В);</li>
                                    <li>тождество обозначается ≡ (например, A ≡ B); выражение A ≡ B истинно тогда и
                                        только тогда, когда значения A и B совпадают (либо они оба истинны, либо они оба
                                        ложны);
                                    </li>
                                    <li>символ 1 используется для обозначения истины (истинного высказывания); символ 0
                                        – для обозначения лжи (ложного высказывания).
                                    </li>
                                </ul>
                                <p>Два логических выражения, содержащие переменные, называются равносильными
                                    (эквивалентными), если значения этих выражений совпадают при любых значениях
                                    переменных. Так, выражения А → В и (¬А) ∨ В равносильны, а А ∨ В и А ∧ В
                                    неравносильны (значения выражений разные, например, при А = 1, В = 0).</p>
                                <p>Приоритеты логических операций: инверсия (отрицание), конъюнкция (логическое
                                    умножение), дизъюнкция (логическое сложение), импликация (следование), тождество.
                                    Таким образом, ¬А ∧ В ∨ С ∧ D означает то же, что и ((¬А) ∧ В) ∨ (С ∧ D). Возможна
                                    запись А ∧ В ∧ С вместо (А ∧ В) ∧ С. То же относится и к дизъюнкции: возможна запись
                                    А ∨ В ∨ С вместо (А ∨ В) ∨ С.</p>
                                <p>Обозначения Мбайт и Кбайт используются в традиционном для информатики смысле – как
                                    обозначения единиц измерения, соотношение которых с единицей «байт» выражается
                                    степенью двойки.</p>
                            </div>
                        </div>
                    </div>
                    {% for i in range(1, count + 1) %}
                    <div class="carousel-item">
                        {% if i == 25 %}
                        <div class="card" style="height: 45vh;">
                        {% else %}
                        <div class="card">
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><b>Задание {{ i }}</b></h5>
                                <div class="outline">
                                    <p>{{numbers[i-1]}}</p>
                                </div>
                                <script>
                                    document.write('{{ tasks[i-1]|safe }}');
                                </script>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="attach-files me-auto">
                                {% if files[i-1] %}
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAgCAYAAADnnNMGAAABuElEQVRIie3WvWsUQRgH4OcuZ1QkKxbxi4AoCoKIIVtYWIhic0oiQhrhtlLsFLEQtRECFoJgG0ihsGhlJeJfYLsEazE2agpRYbGKyFnsHJ4Lcpe9TSH6g4VhZnifhXnZncbETAf2oYNJ1bOKh3mWrpUXWtiD19gaNq43EbajiRNRnMyXoRYuhk0H8bYCch0XwotexbMy1MTOMK4C9NLNs/Qa7mM2QOP9yJYRiv+WPEtv4W4ftKmHjJof/XXyLF3A7QA9juJkrFUD8gmHozjZj69hbjHA97BcB/ICl7Hyh/WpkZE8S7/hTBQnh7CttPySooVrSZ6lb8pzUZysUc/BD8x/5O9HJvF8o5HjOL3RSKX8e8gdv35uvRzFlTqReTzFjj4gxdlRkSXsCuNzigvDDcVHNcVHXIIoTtpRnNysgsziVBiv4jy+Y3MAEnwO6ycxVwUppwc9KAEDM+h/0sbu0tyHgIAoTijOqBKyjGPhGSavqiDtYSrnWTpwT1NxpYHGMEXXmTF0m3gfJg7UWT2KkzlMYaUxMdPZq7jHjuNdTUYTRxRNMt1S9Py0omPKnVQ1XTzCkzxLv/wEnRZg9y58XggAAAAASUVORK5CYII=">
                                    <script>
                                        document.write('{{ files[i-1]|safe }}');
                                    </script>
                                {% endif %}
                            </div>
                            <form class="d-flex">
                                {% if i == 25 %}
                                <table class="answer me-2">
                                    <tr>
                                        <td style="width:50px;">
                                            <span>&nbsp;</span>
                                        </td>
                                        <td style="width:110px;">
                                            <span style="left: 45%; position: relative;">1</span>
                                        </td>
                                        <td style="width:110px; left: 45%; position: relative;">
                                            <span style="right: 55%; position: relative;">2</span>
                                        </td>
                                    </tr>
                                    <script>
                                        for (let i = 1; i <= 12; i++) {
                                            document.write(`
                                                <tr>
                                                    <td style="width:50px; text-align: center;">
                                                        <span>${i}</span>
                                                    </td>
                                                    <td style="width:200px;">
                                                        <input class="answer me-25" name="input_25" type="text" id="25_${i}_1">
                                                    </td>
                                                    <td style="width:200px;">
                                                        <input class="answer me-25" name="input_25" type="text" id="25_${i}_2">
                                                    </td>
                                                </tr>`)
                                        }
                                    </script>
                                </table>
                                {% else %}
                                    <input class="answer me-2" type="text" aria-label="save-answer" id="{{ i }}">
                                {% endif %}
                                <button class="btn btn-outline-dark answer" type="button" id="submit"
                                        onclick="save_answer({{i}});">Сохранить ответ
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-auto max-height align-items-center">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselDark"
                    data-bs-slide="next" onclick="changeActiveElementNext()" style="width: 100%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).on('click', 'ul.indicators li', function(){
        $(this).addClass('active').siblings().removeClass('active')
    })

</script>
</body>
</html>