{% extends "base.html" %}
{% block content %}
<div class="starter-template text-center py-5">
    <form>
        <h2>Построить вариант</h2>
        <p>Вы можете построить свой вариант, указав какие задания необходимо включить в вариант, поставив галочку напротив номера
            задания.</p>
        <p>
            <button type="button" class="btn btn-secondary" onclick="select_all();">Выбрать все задания</button>
            <button type="button" class="btn btn-secondary" onclick="select_all(deselect=true);">Убрать все задания</button>
        </p>
        <table class="tasks" align="center">
            <tbody>
                <script>
                    let id = 1;
                    for (let row = 0; row < 3; row++) {
                        document.write(`<tr>`);
                        for (let i = 0; i < 9; i++) {
                            document.write(`
                                <td style="width: 120px;">
                                    <input type="checkbox" name="task_checkbox" 
                                        id="cbx_${id}" checked="checked" onclick="select_task(${id});" 
                                        style="position:relative; left:3%; top:12px; float:left;">
                                    <p style="position:relative;display:inline-block; top:5px">${id}</p>
                                    <input type="text" name="task_input" value="1"
                                        id="inp_${id}" size="4" onkeyup="onInputChange(${id});"
                                        style="position:relative; right:3%; top:5px; float:right; width:70px;">
                                </td>`);
                            id++;
                        }
                        document.write(`</tr>`);
                    }
                </script>
            </tbody>
        </table>
        <p>
            <b>Номер варианта:</b>
            <input type="text" name="var_id" id="var_id">
        </p>
        <input type="submit" class="btn btn-primary" value="Начать тестирование">
    </form>
</div>
{% endblock %}