{% extends "base.html" %}
{% block content %}
<div class="starter-template py-5" style="margin-top: 20px;">
    <h1 style="text-align: center;">Демонстрационная версия станции КЕГЭ</h1>
    <h5 class="text-secondary" style="margin-top: 20px;">Предлагаемая демонстрационная версия позволяет проводить тренировку экзамена по Информатике
        и ИКТ в компьютерной форме (КЕГЭ).
    </h5>
    <h5 class="text-secondary" style="margin-top: 20px;">
        В проекте используются задачи с сайта <a href="http://kpolyakov.spb.ru/school/ege.htm">К.Ю. Полякова</a>
    </h5>
</div>
{% endblock %}
