{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css')}}"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">

                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ url_for('static', filename='img/user.png')}}"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ current_user.name }}</h4>
                            </div>

                </div>
                <div class="col-md-auto">

                            <div class="row">
                                <div class="col-sm-auto">
                                    <h6 class="mb-0">Полное имя</h6>
                                </div>
                                <div class="col-sm-auto text-secondary">
                                    <h6 class="mb-0">{{ current_user.name }} {{ current_user.surname }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-auto">
                                    <h6 class="mb-0">Логин</h6>
                                </div>
                                <div class="col-sm-auto text-secondary">
                                    <h6 class="mb-0">{{ current_user.login }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-auto">
                                    <a class="btn btn-primary"
                                       href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Изменить</a>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tabs">
                    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                    <label for="tab-btn-1">Ваши задачи</label>
                    <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                    <label for="tab-btn-2">Результаты по вашим вариантам</label>
                    <div id="content-1">
                        Содержимое 1...
                    </div>
                    <div id="content-2">
                        Содержимое 2...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}